<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">-->

    <link rel="stylesheet" href="/css/schc.css"/>

    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Bootstrap JS-->
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!--<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.js"></script>

    <!--Full Calendar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <!--Specific js-->
    <script src="js/appointment.js"></script>

    <title>SCHC</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-boxshadow">
        <a class="navbar-brand" href="/">Agendamento de consulta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="material-icons">home</i><span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mt2pc">
        <div class="container">
            <div class="row mb2pc">
                <h5 class="mx-auto filters-green-color">
                    Escolha uma especialidade e um médico para visualizar a agenda do profissional
                </h5>
            </div>
            <div class="row justify-content-around align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="btnDropdownSpecialities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Escolha uma especialidade
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownSpecialities">
                        <a class="dropdown-item speciality-select" th:each="speciality : ${specialities}" th:text="${speciality[TYPE]}" th:value="${speciality[ID]}"></a>
                    </div>
                </div>
                <div class="dropdown">
                    <button disabled class="btn btn-light dropdown-toggle" type="button" id="btnDropdownDoctors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Escolha um médico
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownDoctors">
                        <!--TO BE FILLED WITH JS-->
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb2pc">
        <div class="container">
            <div class="row">
                <div id="appointment-schedule">
                    <!--FILL WITH SCHEDULE CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!-- Event creator modal -->
    <div class="modal fade" id="eventCreatorModal" tabindex="-1" role="dialog" aria-labelledby="eventCreatorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventCreatorModalLabel">Agendamento de consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="appointment-details">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Detalhes da consulta</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="material-icons icon-offset">
                                    info
                                </i> Especialidade
                            </div>
                            <div class="col-md-6">
                                <i class="material-icons icon-offset">
                                    perm_identity
                                </i>Médico responsável
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="material-icons icon-offset">
                                    access_time
                                </i> Horário de início
                            </div>
                            <div class="col-md-6">
                                <i class="material-icons icon-offset">
                                    hourglass_empty
                                </i>Duração
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Detalhes do paciente</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons">
                                                face
                                            </i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="material-icons">
                                                contact_phone
                                            </i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Telefone" aria-label="Telefone" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="appointment-payment" style="display: none">
                        asdasdsadsdsadsadsads
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="modalProceedBtn" class="btn btn-primary">Avançar</button>
                    <button type="button" id="modalConfirmBtn" class="btn btn-success" style="display: none">Agendar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>