.div-footer {
    background-color: #014791;
    height: 80px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.photo-bg {
    box-shadow: 5px 5px 20px -6px black;
    background-color: #3c82ff;
    border-radius: 2%;
    display: block;
    width: auto;
    height: 400px;
    cursor: pointer;
}

.photo-bg:hover {
    box-shadow: 5px 5px 30px -2px #000000 !important;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
}

.photo-bg:active {
    border-style: revert;
    border-width: 0.5px;
    border-color: gray;
}

.fill {
    min-height: 100%;
    /*height: -webkit-fill-available;*/
    /**height: fit-content;**/
    height: 100%;
}

.img-medical-consultant-bg {
    background-image: url('../images/medicalconsultation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-exam-bg {
    background-image: url('../images/image-exam.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-scheduling-bg {
    background-image: url('../images/scheduling.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top-2pc {
    margin-top: 2%;
}

a {
    text-decoration: none !important;
}

a:link.home-nav-link {
    line-height: 730px;
    display: block;
    text-align: center;
}

span.home-nav-span {
    background-color: #009688;
    border-radius: 2%;
    color: #ffffff;
    padding: 10px;
}